<form
  [formGroup]="form"
  (ngSubmit)="OnSubmit()"
>
  <div class="log-reg-container">
    <div class="imageLogReg">
    </div>
    <div class="log-reg-block">
      <div class="title">
          <h2>Войдите в свою учетную запись</h2>
          <span class="normal sec-text">Добро пожаловать обратно!</span>
      </div>
      <div class="form-reg">
        <div class="form-data">
          <span class="normal">Почта</span>
          <input class="main-text-input" type="email" placeholder="Почта аккаунта" formControlName="email">
        </div>
        <div class="form-data">
          <span class="normal">Пароль</span>
          <input class="main-text-input" type="password" placeholder="Пароль" formControlName="password">
        </div>
        <button class="nav-btn" type="submit">Авторизоваться</button>
        <span align="center" class="normal sec-text">У вас нет учетной записи? <a routerLink="/registration">Зарегистрироваться</a></span>
      </div>
    </div>
  </div>
</form>
