<div class="dialog-window">
  <div class="dialog-title">
    <h3>Добавление/редактировние вещи</h3>
    <button class="btn-m-dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="dialog-main-content">
    <div class="load-photo-block">
      <div class="loading-photo">
        <span class="m-normal">Загрузите изображение вещи</span>
        <button class="btn-m-dialog">
          <mat-icon>add</mat-icon>
        </button>
        <input type="text" class="main-text-input" placeholder="Ссылка на изображение">
      </div>
    </div>
    <div class="obj-info-about">
      <div class="form-data">
        <span class="normal">Ссылка на вещь</span>
        <input class="main-text-input" type="url" placeholder="Введите ссылку">
      </div>
      <div class="form-data">
        <span class="normal">Стоимость вещи</span>
        <input class="main-text-input" type="number" placeholder="Стоимость вещи">
      </div>
      <div class="form-data">
        <span class="normal">Название вещи</span>
        <input class="main-text-input" type="text" placeholder="Название вещи">
      </div>
      <div class="form-data">
        <span class="normal">Категория</span>
        <tui-textfield
          tuiChevron
          [stringify]="strCategory"
          tuiTextfieldSize="m"
          >
          <input
              class="btn-font"
              tuiSelect
              placeholder="Категория"
              [(ngModel)]="category"
          />

          <tui-data-list-wrapper
              *tuiTextfieldDropdown
              new
              [items]="listCategories"
          />
        </tui-textfield>
      </div>
      <div class="form-data">
        <span class="normal">Введите название бренда</span>
        <tui-textfield
          tuiChevron
          [stringify]="strBrand"
          tuiTextfieldSize="m"
          >
          <input
              class="btn-font"
              tuiSelect
              placeholder="Бренд"
              [(ngModel)]="brand"
          />

          <tui-data-list-wrapper
              *tuiTextfieldDropdown
              new
              [items]="listBrands"
          />
        </tui-textfield>
      </div>
      <div class="form-data">
        <span class="normal">Размер вещи</span>
        <tui-textfield
          tuiChevron
          [stringify]="strSize"
          tuiTextfieldSize="m"
          >
          <input
              class="btn-font"
              tuiSelect
              placeholder="Размер"
              [(ngModel)]="size"
          />

          <tui-data-list-wrapper
              *tuiTextfieldDropdown
              new
              [items]="listSize"
          />
        </tui-textfield>
      </div>
      <button class="btn-6" type="submit">
        Добавить\Сохранить
      </button>
    </div>
  </div>
</div>
