<main>
  <div class="grid-cards">
    <div class="user-outfits-likes-card">
        <a [href]="test.id">
          <img class="photo-card" [src]="test.image">
          <div class="hover-text"><span class="b-normal w">Смотреть образ</span></div>

          <div class="card-like-block">
            <div class="like-btn">
              <input
                class="like"
                tuiLike="var(--like-color)"
                type="checkbox"
                appearance=""
                size="m"
              >
              <span class="normal inac">
                {{test.likesCounter}}k
              </span>
            </div>
          </div>
        </a>
    </div>
  </div>
</main>
