<main>
  <div class="grid-cards">
    @if (userOutfits.length == 0) {
      <span class="normal">Ничего не найдено</span>
    }
    @else {
      @for (outfit of userOutfits; track outfit.id) {
        <div class="user-outfits-likes-card">
            <a (click)="openDialogShowOutfit(outfit)">
              <img class="photo-card" [src]="outfit.imgs[0]">
              <div class="hover-text"><span class="b-normal w">Смотреть образ</span></div>

              <div class="card-like-block">
                <div class="like-btn">
                  <input
                    class="like"
                    tuiLike="var(--like-color)"
                    type="checkbox"
                    appearance=""
                    size="m"
                  >
                  <span class="normal w">
                    {{definitionLikes(outfit.likesCounter)}}
                  </span>
                </div>
              </div>
            </a>
        </div>
      }
    }
  </div>
</main>
