.chat-page {
  display: flex;
  flex-direction: row;
}

.chat-history-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 310px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 16px;
  background-color: var(--cards-color);
  gap: 10px;
}

.chat-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat-history {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-history-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--main-bg-color);
  border-radius: 16px;
}

.block-chat-names {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.initial-ai-window {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: var(--cards-color);
  width: 406px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  gap: 36px;
}

.new-chat-bts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

[tuiAppearance][data-appearance=textfield] {
  height: 100%;
  background-color: var(--main-bg-color);
}

@media screen and (max-width: 1100px) {
  .chat-history-bar {
    width: calc(400px - 15px*2);
  }

  .chat-page {
    flex-wrap: wrap;
    gap: 40px;
  }
}
