<div class="tape-container">
  <div class="filters-container">
    <mat-form-field>
      <mat-label>Стиль</mat-label>
      <mat-select [formControl]="selectStyles" multiple>
        <mat-select-trigger>
          {{selectStyles.value?.[0] || ''}}
          @if ((selectStyles.value?.length || 0) > 1) {
            <span class="additional-selection">
              (+{{(selectStyles.value?.length || 0) - 1}} {{selectStyles.value?.length === 2 ? 'другой' : 'других'}})
            </span>
          }
        </mat-select-trigger>
        @for (style of this.filters.listStyles; track style.id) {
          <mat-option [value]="style.name" (onSelectionChange)="getOutfitsWithFiltes()">{{style.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div>
      <mat-chip-listbox multiple [(ngModel)]="selectTags">
          @for (item of this.filters.listTags; track $index) {
            <mat-chip-option (selectionChange)="getOutfitsWithFiltes()">{{item.name}}</mat-chip-option>
          }
      </mat-chip-listbox>
    </div>
  </div>
  <div class="grid-cards">
    @for (card of outfitCards; track card.id) {
      <div class="tape-card-n">
        <a class="card-main-img" (click)="openDialogShowOutfit(card, users[card.user_id-1])">
          <img class="photo-card" [src]="card.imgs[0]">
          <div class="hover-text"><span class="b-normal w">Смотреть образ</span></div>
        </a>
        <div class="card-info-block">
          <div class="user-info-block">
            <div class="user-avatar">
              <tui-avatar
              [src]="users[card.user_id-1].imgProfile"
              size="l"
              />
            </div>
            <div class="user-info-card">
              <span class="normal over-hide">
                {{users[card.user_id-1].username}}
              </span><br>
              <span class="m-normal sec-text over-hide">
                {{card.tag}}
              </span>
            </div>
          </div>
          @if (canLiket(card.user_id)) {
            <div class="card-like-block">
              <div class="like-btn">
                <input
                  class="like"
                  tuiLike="var(--like-color)"
                  type="checkbox"
                  appearance=""
                  size="m"
                  (selectionchange)="putLike(card.id!)"
                >
                <span class="normal inac">
                  {{definitionLikes(card.likesCounter)}}
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
