<div class="tape-container">
  <div class="filters-container">
    <tui-textfield
        tuiChevron
        >
      <input
          placeholder="Стиль"
          tuiComboBox
          [(ngModel)]="value"
      />

      <tui-data-list-wrapper
          *tuiTextfieldDropdown
          new
          [items]="countries$ | async | tuiFilterByInput"
      />
    </tui-textfield>

    <div class="filters-with-all">
      <tui-filter
          size="s"
          class="item"
          [items]="items"
          [ngModel]="model$ | async"
          (ngModelChange)="onModelChange($event)"
      />
  </div>
  </div>
  <div class="grid-cards">
    @for (card of outfitCards; track card.id) {
      <div class="tape-card-n">
        <a class="card-main-img" (click)="openDialogShowOutfit(card, users[card.user_id-1])">
          <img class="photo-card" [src]="card.imgs[0]">
          <div class="hover-text"><span class="b-normal w">Смотреть образ</span></div>
        </a>
        <div class="card-info-block">
          <div class="user-info-block">
            <div class="user-avatar">
              <tui-avatar
              [src]="users[card.user_id-1].imgProfile"
              size="l"
              />
            </div>
            <div class="user-info-card">
              <span class="normal over-hide">
                {{users[card.user_id-1].username}}
              </span><br>
              <span class="m-normal sec-text over-hide">
                {{card.tag}}
              </span>
            </div>
          </div>
          @if (canLiket(card.user_id)) {
            <div class="card-like-block">
              <div class="like-btn">
                <input
                  class="like"
                  tuiLike="var(--like-color)"
                  type="checkbox"
                  appearance=""
                  size="m"
                  [(ngModel)] = "card.beenLiked"
                >
                <span class="normal inac">
                  {{definitionLikes(card.likesCounter)}}
                </span>
              </div>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
