.tape-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tape-card-n {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 16px;
  border: 1px solid var(--cards-color);
  width: 315px;
  height: 390px;
}

.card-info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.filters-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  gap: 20px;
}

.user-info-card {
  max-width: 150px;
  max-height: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

tui-textfield {
  min-width: 160px;
  width: 160px;
  height: 38.59px;
  --t-height: none;
}

[tuiBlock][data-size=s] {
  padding: 0.706rem;
  font: none;
  --t-height: 38.59px;
}

[tuiBlock][data-size=m] {
  height: 38.59px;
  padding: 0.5rem;
}

[tuiAppearance][data-appearance=textfield] {
  background-color: var(--main-bg-color);
}

tui-textfield::after {
  height: 38.59px;
}

.filters-with-all {
  display: flex;
  flex-direction: row;
  gap: .25rem;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
  line-height: 1;
}
