<div class="tape-card-n">
  <a class="card-main-img" (click)="openDialogShowOutfit(card, user)">
    <img class="photo-card" [src]="card.imgs[0]">
    <div class="hover-text"><span class="b-normal w">Смотреть образ</span></div>
  </a>
  <div class="card-info-block">
    <div class="user-info-block">
      <div class="user-avatar">
        <tui-avatar
        [src]="user.imgProfile"
        size="l"
        />
      </div>
      <div class="user-info-card">
        <span class="normal over-hide">
          {{user.username}}
        </span><br>
        <span class="m-normal sec-text over-hide">
          {{card.tag}}
        </span>
      </div>
    </div>
    @if (canLiket(card.user_id)) {
      <div class="card-like-block">
        <like-widget
          [outfit]="card"
        ></like-widget>
      </div>
    }
  </div>
</div>
