<main>
  <div class="profile-card">
    <div class="image-profile">
      <img [src]="userData.imgProfile">
    </div>
    <div class="info-profile">
      <div class="title-profile-card">
        <h3>{{userData.username}}</h3>
        @if (myProfile) {
          <div class="control-btns">
            <button type="button" class="btn-control" tuiHint="Редактировать профиль" (click)="openDialogEditUser()">
                <mat-icon>edit</mat-icon>
            </button>
            <button type="button" class="btn-control" tuiHint="Настройки аккаунта" (click)="openDialogSettings()">
              <mat-icon>settings</mat-icon>
            </button>
            <button type="button" class="btn-control" tuiHint="Выйти из аккаунта" (click)="logoutUser()" routerLink="../../authorization">
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        }
      </div>
      <div class="line"></div>
      <div class="user-info">
        <div class="line-user-data">
          <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-480Zm0 280q-116 0-198-82t-82-198q0-116 82-198t198-82q116 0 198 82t82 198q0 116-82 198t-198 82Zm0-80q83 0 141.5-58.5T680-480q0-83-58.5-141.5T480-680q-83 0-141.5 58.5T280-480q0 83 58.5 141.5T480-280Z"/></svg></mat-icon>
          <span>Пол:</span>
          <span>{{userData.gender}}</span>
        </div>
        <div class="line-user-data">
          <mat-icon>height</mat-icon>
          <span>Рост:</span>
          <span>{{userData.height}} см</span>
        </div>
        <div class="line-user-data">
          <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M240-200h480l-57-400H297l-57 400Zm240-480q17 0 28.5-11.5T520-720q0-17-11.5-28.5T480-760q-17 0-28.5 11.5T440-720q0 17 11.5 28.5T480-680Zm113 0h70q30 0 52 20t27 49l57 400q5 36-18.5 63.5T720-120H240q-37 0-60.5-27.5T161-211l57-400q5-29 27-49t52-20h70q-3-10-5-19.5t-2-20.5q0-50 35-85t85-35q50 0 85 35t35 85q0 11-2 20.5t-5 19.5ZM240-200h480-480Z"/></svg></mat-icon>
          <span>Вес:</span>
          <span>{{userData.weight}} кг</span>
        </div>
        <div class="line-user-data">
          <mat-icon>square_foot</mat-icon>
          <span>Размер одежды:</span>
          <span>{{userData.clothingSize}}</span>
        </div>
        <div class="line-user-data">
          <mat-icon>straighten</mat-icon>
          <span>Размер обуви:</span>
          <span>{{userData.shoeSize}}</span>
        </div>
        <div class="line-user-data">
          <mat-icon>info</mat-icon>
          <span>Прочая информация:</span>
          <span class="over-hide">{{userData.otherInfo}}</span>
        </div>
      </div>
      <div class="line"></div>
      <div class="sub-info">
        <div class="count-info normal">
          <span>{{userData.subscriptions}}</span>
          <span>Подписки</span>
        </div>
        <div class="count-info normal">
          <span>{{userData.subscribers}}</span>
          <span>Подписчики</span>
        </div>
        <div class="count-info normal">
          <span>{{userData.likes}}</span>
          <span>Лайки</span>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-page">
    <div class="nav-btns-container">
      <button type="button" class="btn-underline" routerLink="outfits" routerLinkActive="btn-underline-active">
        Образы
      </button>
      <button type="button" class="btn-underline" routerLink="likes" routerLinkActive="btn-underline-active">
        Лайки
      </button>
    </div>
  </div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</main>
