<div class="dialog-window">
  <div class="dialog-title">
    <div class="user-info-block">
      <div class="user-avatar">
        <tui-avatar
        [src]="data[1].imgProfile"
        size="l"
        />
      </div>
      <div class="user-info-card">
        <span class="normal over-hide">
          {{data[1].username}}
        </span><br>
        <span class="m-normal sec-text over-hide">
          {{data[0].tag}}
        </span>
      </div>
    </div>
    <button class="btn-dialog" (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="dialog-main-content">
    <div class="images-block">
      <div class="col-images">
        @for (imgLink of data[0].imgs; track $index) {
          <img class="m-img photo-card" [class]="selectMainPhoto == $index ? 'activeImg': ''" [src]="imgLink" (click)="selectMainPhoto = $index">
        }
      </div>
      <img class="select-image photo-card" [src]="data[0].imgs[selectMainPhoto]">
    </div>
    <div class="stuffs">
      @for (item of stuffs; track $index) {
        <div class="card-stuff">
          <img [src]="item.img">
          <div class="stuff-info">
            <span class="normal">Название {{item.name}}</span>
            <span class="normal sec-text">Бренд {{item.brand}}</span>
            <span class="normal">Стоимость {{item.cost}}</span>
            <span class="normal sec-text">Размер {{item.size}}</span>
            <div class="other-info">
              <button type="button" class="btn-control" tuiHint="Ссылка на товар">
                <a [href]="item.link" target="_blank">
                  <mat-icon style="rotate: -45deg; margin-top: 4px;">link</mat-icon>
                </a>
              </button>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="social-bts">
    <div class="like-btn" >
      <input
        class="like"
        tuiLike="var(--like-color)"
        type="checkbox"
        appearance=""
        size="m"
        [(ngModel)] = "data[1].likeIt"
      >
      <span class="normal inac">
        {{definitionLikes(data[0].likesCounter)}}
      </span>
    </div>
  </div>
</div>
