<main>
  <div class="filters-container">
    <button type="button" class="btn-control" tuiHint="Создать образ" (click)="openDialogAddOutfit()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="grid-cards">
    @for (image of images; track image.id) {
      <div class="card-image">
        <div class="photo-card-item">
          <img class="photo-card" [src]="image.imgs[0]">
        </div>
        <div class="card-details">
          <div class="info-about-item">
            <div class="info-item">
              <span class="normal over-hide" tuiHint="Название">{{image.name}}</span>
              <span class="normal sec-text">·</span>
              <span class="normal sec-text over-hide" tuiHint="Стиль">{{image.style}}</span>
            </div>
            <div class="info-item sec-text">
              <div class="line-data" tuiHint="Когда последний раз использовали">
                <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M580-240q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/></svg></mat-icon>
                <span class="normal" >{{image.dateLastWear}}</span>
              </div>
              <span class="normal">·</span>
              <div class="line-data" tuiHint="Сколько раз использовали">
                <mat-icon>event_repeat</mat-icon>
                <span class="normal">{{image.countsWear}}</span>
              </div>
            </div>
          </div>
          <div class="control-block">
            <div class="cost-item">
              <span>{{image.cost}}₽</span>
            </div>
            <div class="control-btns">
              <button type="button" class="btn-control" tuiHint="Опубликовать" (click)="publishMyStuff(image)">
                  <mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M440-160v-326L336-382l-56-58 200-200 200 200-56 58-104-104v326h-80ZM160-600v-120q0-33 23.5-56.5T240-800h480q33 0 56.5 23.5T800-720v120h-80v-120H240v120h-80Z"/></svg></mat-icon>
              </button>
              <button type="button" class="btn-control" tuiHint="Редактировать" (click)="openDialogEditOutfit(image)">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" class="btn-control" tuiHint="Удалить" (click)="deleteMyStuff(image.id!)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</main>
