<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="flex-container">
  <mat-form-field>
      <mat-label>Фильтр</mat-label>
      <input matInput type="text" [(ngModel)]="filterValue" (ngModelChange)="applyFilter()" placeholder="Введите параметры поиска" #input>
      @if (input.value) {
        <button matSuffix matIconButton aria-label="Clear" (click)="filterValue = ''; applyFilter()">
          <mat-icon>close</mat-icon>
        </button>
      }
  </mat-form-field>

  <div class="button-add">
    <button matFab extended color="add-btn" (click)="openDialogAddOutfit()">
      <mat-icon>note_add</mat-icon>
      Добавить образ
    </button>
  </div>

</div>

<div class="mat-elevation-z8">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                  [length]="totalItems"
                  [pageSize]="limit"
                  (page)="update($event)"
                  showFirstLastButtons>
  </mat-paginator>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="user_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> USER ID </th>
      <td mat-cell *matCellDef="let row"> {{row.user_id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Название </th>
      <td mat-cell *matCellDef="let row"> {{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="style">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Стиль </th>
      <td mat-cell *matCellDef="let row"> {{row.style}} </td>
    </ng-container>

    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Теги </th>
      <td mat-cell *matCellDef="let row"> {{row.tag}} </td>
    </ng-container>

    <ng-container matColumnDef="imgs">
      <th mat-header-cell *matHeaderCellDef> Изображения </th>
      <td mat-cell *matCellDef="let row">
          @for (img of row.imgs; track img.id) {
            <img [src]="img" [alt]="img.id">
          }
        </td>
    </ng-container>

    <ng-container matColumnDef="stuffIds">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID Вещей </th>
      <td mat-cell *matCellDef="let row"> {{row.stuffIds}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="control">
      <th mat-header-cell *matHeaderCellDef> Панель управления </th>
      <td mat-cell *matCellDef="let row">
        <div class="button-row">
          <div class="flex-container">
            <button matMiniFab color="warn" aria-label="delete icon" matTooltip="Удалить" (click)="deleteOutfit(row)">
              <mat-icon>delete</mat-icon>
            </button>
            <button matMiniFab color="primary" aria-label="edit icon" matTooltip="Редактировать" (click)="openDialogEditOutfit(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Нет данных, соответствующих фильтру "{{input.value}}"</td>
    </tr>
  </table>
</div>
