body {
  margin: 10px;
  padding: 10px;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 50%;
}

td, th {
  width: 20%;
}

.mat-column-id {
  width: 5%;
}

.mat-column-user_id {
  width: 5%;
}

.mat-column-name {
  width: 10%;
}

.mat-column-style {
  width: 10%;
}

.mat-column-tag{
  width: 10%;
}

.mat-column-imgs {
  width: 20%;
}

.mat-column-imgs img {
  max-width: 40px;
  max-height: 40px;
  object-fit: fill;
  padding: 5px;
}

.mat-column-imgs img:hover{
  max-width: 200px;
  max-height: 200px;
  position: absolute;
}

.mat-column-stuffIds {
  width: 10%;
}

.mat-column-status {
  width: 10%;
}

.mat-column-control {
  width: 30%;
}

section {
  display: flex;
  align-items: center;
}

.label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.button-row {
  max-width: 120px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-add {
  margin-right: 10px;
  height: 57px;
}

.mat-add-btn {
  background-color: green;
  color: white;
}

.full-width {
  width: 100%;
}
