<h1 mat-dialog-title style="font-size: 18px;">Редактирование профиля</h1>
<div mat-dialog-content style="display: inline; padding-bottom: 20px;">
  <div>
    <mat-form-field class="full-width-input">
      <mat-label>Имя пользователя</mat-label>
      <input class="main-text-input" matInput type="text" placeholder="example" [value]="editingUser.username"
        [(ngModel)]="editingUser.username" required >
        @if (validateFormUsername(editingUser.username) == false) {
          <mat-error>Поле не может быть пустым</mat-error>
        }
    </mat-form-field>
  </div>

  <div>
    <label class="normal">Пол:</label>
    <mat-radio-group [(ngModel)]="editingUser.gender" [value]="editingUser.gender">
      @for (gender of GENDERS; track $index) {
        <mat-radio-button [value]="gender">{{gender}}</mat-radio-button>
      }
    </mat-radio-group>
  </div>

  <div>
    <mat-form-field class="full-width-input">
      <mat-label>Рост (см)</mat-label>
      <input class="main-text-input" matInput type="number" min="0" max="250" placeholder="Рост" [value]="editingUser.height"
        [(ngModel)]="editingUser.height">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width-input">
      <mat-label>Вес (кг)</mat-label>
      <input matInput type="number" min="0" max="250" placeholder="Вес" [value]="editingUser.weight"
        [(ngModel)]="editingUser.weight">
    </mat-form-field>
  <div>

  <div>
    <mat-form-field class="full-width-input">
      <mat-label>Размер одежды</mat-label>
      <input matInput type="number" min="40" max="70" placeholder="Размер одежды" [value]="editingUser.clothingSize"
        [(ngModel)]="editingUser.clothingSize">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width-input">
      <mat-label>Размер обуви</mat-label>
      <input matInput type="number" min="20" max="50" placeholder="Размер обуви" [value]="editingUser.shoeSize"
        [(ngModel)]="editingUser.shoeSize">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width-input">
      <mat-label>Прочая информация</mat-label>
      <textarea matInput type="text" maxlength="150" placeholder="Прочая информация" [value]="editingUser.otherInfo"
        [(ngModel)]="editingUser.otherInfo"></textarea>
    </mat-form-field>
  </div>

</div>
<div class="btn-actions" mat-dialog-actions>
  <button class="nav-btn" (click)="onNoClick()">Отмена</button>
  <button class="nav-btn" [mat-dialog-close]="editingUser" [disabled]="checkValidateConfirm()">Сохранить</button>
</div>
