:host, html, body {
  display: flex;
  justify-content: center;
  background-color: var(--cards-color);
  min-height: 100vh;
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  max-width: 1180px;
  width: 100%;
  height: min-content;
  border-radius: 16px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  gap: 30px;
}

.nav-btns {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 16px;
  height: 40px;
  width: auto;
  border: 1px solid var(--cards-color);
  background-color: var(--main-bg-color);
  color: var(--inactive-font-color);
  cursor: pointer;
}

/* .nav-btns :hover {
  background-color: var(--hover-actions-color);
  color: var(--main-font-color);
} */

.active {
  border: 1px solid var(--main-actions-color);
  background-color: var(--main-actions-color);
  color: var(--main-font-color);
}

.content-container {
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 20px;
}

.logo {
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .logo {
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 999;
    background-color: var(--main-bg-color);
    border-bottom: 3px solid var(--cards-color);
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-btns {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    flex-wrap: nowrap;
    gap: 3px;
    background-color: var(--main-bg-color);
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: 3px solid var(--cards-color);
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .btn-menu {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-left: 9px;
    padding-right: 9px;
    min-width: 70px;
  }

  .main-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .nav-container {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
  }

  .content-container {
    margin: 15px
  }

  .active {
    border: none;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
  }
}
