<div class="log-reg-container">
  <div class="imageLogReg">
  </div>
  <div class="log-reg-block">
    <div class="title">
        <h2>Создать учетную запись</h2>
        <span class="normal sec-text">Зарегистрируйтесь, чтобы начать работу!</span>
    </div>
    <div class="form-reg">
      <div class="form-data">
        <span class="normal">Имя пользователя</span>
        <input class="main-text-input" type="text" placeholder="Имя пользователя">
      </div>
      <div class="form-data">
        <span class="normal">Почта</span>
        <input class="main-text-input" type="email" placeholder="Почта аккаунта">
      </div>
      <div class="form-data">
        <span class="normal">Пароль</span>
        <input class="main-text-input" type="password" placeholder="Пароль">
      </div>
      <div class="form-data">
        <span class="normal">Подтвердите пароль</span>
        <input class="main-text-input" type="password" placeholder="Подтвердите пароль">
      </div>
      <button class="nav-btn" type="submit" routerLink="home" routerLinkActive="active-link">Зарегистрироваться</button>
      <span align="center" class="normal sec-text">У вас уже есть учетная запись? <a routerLink="/authorization">Авторизоваться</a></span>
    </div>
  </div>
</div>
